.scroll-to-top{
    position: fixed;
    margin-top: 20px;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    border: none;
    padding:10px 15px;
    /* font-size:20px; */
    background-color:#18d26e!important;
    color: black!important;
    display: none;
    transition: opacity 0.4 ease,
    visibility 0.4s ease;
}

.scroll-to-top.show{
    display: block;
    opacity: 1;
    visibility: visible;
}
.scroll-to-top.hide{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.scroll-to-top:hover{
    opacity: 0.5;
    background-color: #18d26e;
    color: black;
}