.portfolio-item{
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover img{
    /* opacity: 0.4; */
    transform:scale(120%);
    transition: all 0.3s ease-in-out;
    overflow:hidden!important;
    filter: brightness(40%);
}
.overlay-icon
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
   color: white;


}
.portfolio-item:hover .overlay-icon{
    opacity: 1;
    filter: brightness(200%);
    color: white;
    font-size: 24px;
    z-index: 2;
    
}


.overlay-icon:hover{
    color: #00a44d!important;
}
