
.navbar-transparent{
    background-color: transparent;
    transition: background-color 0.5s ease;
    box-shadow: none;
}
.navbar-scroll{
    background-color: rgba(41, 40, 40, 0.5);
    transition: background-color 0.5s ease;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
.personal-size{
    font-size: 32px !important;
    font-weight: bold;
}
.nav-link{
    position:relative;
    display: inline-block;
    padding-bottom: 5px;
    color: #fafafa !important;
    margin-right: 20px;
    font-family: "Poppins";
}
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height:2px;
    background-color: #18d26e;
    transition:  width 0.3s ease;
  

}
.nav-link:hover{
    color: #18d26e!important;
}
.nav-link:hover::after{
    width:60%;
}
.nav-link.active {
    color: #18d26e!important;
}
.nav-link.active::after{
    width: 60%;
}
.offcanvas-position{
   transform: translate(-50%,-50%);
   top:50%;
   left:50%; 
   width: 95% !important;
}
.menu-toggle{
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer!important;
    display:none;
}

/************************************responsive****************************/
@media(max-width:768px){
    .nav-link::after{
        content: none!important;
    }
    .menu-toggle{
        display: block;
    }
    .offcanvas-position{
        transform: translate(-50%,-50%);
       top:50%;
       left:50%; 
       width: 95% !important;
       margin: 4rem 1rem;
    }
    .personal-size{
        font-size: 22px;
        margin-left: 0;
    }
   
}
/***********************************/
@media(max-width:480px){
    .offcanvas-position{
       margin: 4rem 0.5rem;
    }
}